@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Zetta:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&display=swap');

.ul_header,
.inter {
  font-family: "Inter", sans-serif !important;
}

.bg {
  background-image: url(./pages/Lists/img/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
@layer utilities {
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  .animate-scroll {
    animation: scroll 15s linear infinite;
  }
}
.linee img {
  transition: all 0.2s;
}
.linee {
  background-image: url(./pages/smart/img/Line.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.linee:hover img{
  transform: scale(1.1);
  transition: all 0.2s;
}
@media (max-width:688px) {
  .linee {
    background-size: cover;
  }
  .linee button {
    background-color:rgb(228, 233, 237);
    text-align: center !important;
  }
}